<div class="tictactoe-board">
    @for(int row = 0; row < board.RowCount; row++)
    {
        <div class="tictactoe-column">
            @for(int column = 0; column < board.ColumnCount; column++)
            {
                CellState cell = board.Cells[row, column];
                var SavedRow = row;
                var SavedColumn = column;
                <div class="tictactoe-cell tictactoe-cell-@cell.ToString()" @onclick="() => 
                    CellClick(SavedRow, SavedColumn)"/>
            }
        </div>
    }

</div>

@code {
    Board board = new Board();

    void CellClick(int row, int column)
    {
        board.NextTurn(row, column);
    }
}
