<div class="tictactoe-board">
    @for(int column = 0; column < board.RowCount; column++)
    {
        <div class="tictactoe-column">
            @for(int row = 0; row < board.ColumnCount; row++)
            {
                CellState cell = board.Cells[row, column];
                var SavedRow = row;
                var SavedColumn = column;
                <div class="tictactoe-cell tictactoe-cell-@cell.ToString()" @onclick="() => 
                    CellClick(SavedRow, SavedColumn)">
                    r: @row col: @column
                </div>
            }
        </div>
    }

</div>

<div>Победитель: @board.GetGameResult()</div>

@code {
    Board board = new Board();

    void CellClick(int row, int column)
    {
        board.NextTurn(row, column);
    }
}
