<div>Победитель: @board.GetGameResult(out winCells)</div>
<div class="tictactoe-board">
    @for(int column = 0; column < board.RowCount; column++)
    {
        <div class="tictactoe-column">
            @for(int row = 0; row < board.ColumnCount; row++)
            {
                CellState cell = board.Cells[row, column];
                var SavedRow = row;
                var SavedColumn = column;

                var isWinCell = winCells.Contains(new CellPosition(row, column));
                <div class="tictactoe-cell 
                    tictactoe-cell-@cell.ToString()" @onclick="() => 
                    CellClick(SavedRow, SavedColumn)">
                    <div style="font-size: 250%; color: green">@(isWinCell ? "✓" : "")</div>
                </div>
            }
        </div>
    }

</div>



@code {
    CellPosition[] winCells = new CellPosition[0];
    Board board = new Board();

    void CellClick(int row, int column)
    {
        board.NextTurn(row, column);
    }
}
